/*  your css code here. If applicable */
#animal-photos{
	text-align:center;
}

.animal{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
}
.animal img{
	height:300px;
	width:300px;
	border-radius:20px;
}